.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row-wrap {
  flex-wrap: wrap;
}

.col {
  margin: 0 20px;
}

.col-30 {
  flex: 0 0 30%;
  max-width: calc(30% - 40px);
}

.col-33 {
  flex: 0 0 33.333%;
  max-width: calc(33.333% - 40px);
}

.col-40 {
  flex: 0 0 40%;
  max-width: calc(40% - 40px);
}

.col-50 {
  flex: 0 0 50%;
  max-width: calc(50% - 40px);
}

.col-60 {
  flex: 0 0 60%;
  max-width: calc(60% - 40px);
}

.col-70 {
  flex: 0 0 70%;
  max-width: calc(70% - 40px);
}
