.header {
  background-image: url("../images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;

  &__title {
    min-height: calc(70vh - 50px);

    &.row {
      justify-content: center;
      align-items: flex-end;
    }
    h1 {
      @include fontSize(120);
      text-transform: uppercase;
      z-index: 1;
    }
  }

  &__overlay {
    position: absolute;
    top: 200px;
    right: 0;
    width: 40%;
    border: 40px solid $accent-secondary;
    border-right: none;
  }
}
