.home {
  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-image: url("../images/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    z-index: 1;
    padding-bottom: 40px;

    @include tablet-portrait {
      background-position-x: 30%;
      min-height: 60vh;
    }

    @include phone {
      background-position-x: 20%;
    }
  }

  &__overlay {
    position: absolute;
    top: 180px;
    right: 0;
    z-index: -1;
    width: 40%;
    @include tablet-landscape {
      top: 240px;
    }
    @include tablet-landscape-sm {
      top: 315px;
    }

    @include tablet-portrait {
      visibility: hidden;
    }

    img {
      border-top: 40px solid $accent-secondary;
      border-left: 40px solid $accent-secondary;
      border-bottom: 40px solid $accent-secondary;
      @include tablet-landscape-sm {
        border-top: 25px solid $accent-secondary;
        border-left: 25px solid $accent-secondary;
        border-bottom: 25px solid $accent-secondary;
      }
    }
  }
}
