.about {
  padding: 150px 0;

  &__title {
    text-align: center;
    &.row {
      justify-content: center;
    }

    h2 {
      margin-bottom: 30px;
    }

    p {
      line-height: $line-height;
      text-align: left;
      margin-bottom: 30px;
    }
  }
}
