.home {
  &__header {
    position: relative;
    background-image: url("../images/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    z-index: 1;

    &.row {
      &--center {
        align-items: flex-end;
      }
    }

    .wrapper {
      position: absolute;
    }

    @include phone {
      min-height: 60vh;
    }
  }

  &__overlay {
    position: absolute;
    top: 180px;
    right: 0;
    z-index: -1;
    width: 40%;
    @include tablet-landscape {
      top: 240px;
    }
    @include tablet-landscape-sm {
      top: 315px;
    }

    @include tablet-portrait {
      top: 380px;
    }

    img {
      border-top: 40px solid $accent-secondary;
      border-left: 40px solid $accent-secondary;
      border-bottom: 40px solid $accent-secondary;
      @include tablet-landscape-sm {
        border-top: 25px solid $accent-secondary;
        border-left: 25px solid $accent-secondary;
        border-bottom: 25px solid $accent-secondary;
      }
    }
  }
}
