ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $primary-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.btn,
p {
  margin: 0;
  font-family: $play-fair;
  text-transform: uppercase;
}

p {
  text-transform: lowercase;
  font-family: $roboto;
}

.about,
.featured,
.features {
  background-color: $primary-light;
}

.latest,
.gallery,
.contact__form {
  background-color: $secondary-light;
}

.shadow--right {
  box-shadow: 25px 25px $accent-secondary;
}

.shadow--left {
  box-shadow: -25px 25px $accent-secondary;
}

span {
  display: block;
}

/* Check it out later */
.nav__item {
  flex: 0 0 auto;
}
