.nav {
  &__list {
    &.row {
      justify-content: flex-end;
      height: 60px;
      align-items: center;
    }
  }

  &__item {
    flex: 0 1 auto;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -2px;
        width: 65px;
        height: 3px;
        background: $accent-primary;
      }
    }
  }

  &__item a {
    text-transform: uppercase;
    letter-spacing: $space-1;
  }
}
