.contact__footer {
  padding: 100px 0;

  &--left {
    padding: 20px;

    p {
      margin: 20px 0;
      text-transform: uppercase;
      font-family: $play-fair;
      letter-spacing: $space-2;
      @include fontSize(20);
    }

    address {
      font-style: normal;
      @include fontSize(16);
      letter-spacing: $space-1;
    }
  }

  form {
    margin-top: -280px;
  }
}
