.contact {
  &__form {
    padding: 60px;
    margin-top: -300px;

    input[type="text"],
    input[type="email"],
    textarea,
    .btn {
      width: 100%;
      border: none;
    }

    textarea,
    input[type="text"],
    input[type="email"] {
      background-color: transparent;
      padding: 20px;
    }

    *::placeholder,
    textarea {
      /* modern browser */
      color: $black;
      opacity: 1;
      text-transform: capitalize;
      @include fontSize(16);
      letter-spacing: $space-1;
    }

    textarea {
      border: 2px solid $accent-primary;
      margin: 40px 0;
      resize: none;
    }

    input[type="text"],
    input[type="email"] {
      border-bottom: 2px solid $accent-primary;
    }
  }
}
