/* Variables */

/* Color palette */

$black: #000000;
$primary-dark: #2c2c2c;
$primary-light: #effdf3;
$secondary-light: #fafafa;
$accent-primary: #4ceea7;
$accent-secondary: #fdfa69;

/* Fonts */
$roboto: "Roboto", sans-serif;
$play-fair: "Playfair Display", serif;

/* Text style */
$space-1: 1px;
$space-2: 2px;
$line-height: 32px;
$body-line-height: 30px;

/* Mixins */

@mixin fontSize($size-value) {
  font-size: ($size-value / 10) * 1rem;
}

/* Responsive web design */
// Defining values
$screen-xxl: 1100px;
$screen-xl: 940px;
$screen-md: 768px;
$screen-sm: 940px;
$screen-xs: 940px;

@mixin tablet-landscape {
  @media only screen and(max-width: $screen-xxl) {
    @content;
  }
}

@mixin tablet-landscape-sm {
  @media only screen and (max-width: $screen-xl) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and(max-width: $screen-md) {
    @content;
  }
}

@mixin phone {
  @media only screen and(max-width: $screen-xs) {
    @content;
  }
}
