html {
  font-size: 62.5%;
}

body {
  background-color: $primary-light;
  font-family: $roboto;
  @include fontSize(18);
  line-height: 1.2;

  @include tablet-landscape {
    @include fontSize(16);
    line-height: 1.6;
  }

  @include tablet-landscape-sm {
    @include fontSize(14);
  }
}
