@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/* Variables */
/* Color palette */
/* Fonts */
/* Text style */
/* Responsive web design breakpoints*/
/* Mixins */
html {
  font-size: 62.5%;
}

body {
  background-color: #effdf3;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
}

@media only screen and (max-width: 1100px) {
  body {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 940px) {
  body {
    font-size: 1.4rem;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.btn {
  margin: 0;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

h1 {
  font-size: 12rem;
  text-transform: uppercase;
  line-height: 1.4;
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 940px) {
  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4rem;
}

@media only screen and (max-width: 1100px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.3rem;
}

@media only screen and (max-width: 940px) {
  h3 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1.6rem;
  }
}

p {
  margin: 0;
}

.about,
.featured,
.features {
  background-color: #effdf3;
}

.latest,
.gallery,
.contact__form {
  background-color: #fafafa;
}

.shadow--right {
  -webkit-box-shadow: 35px 35px #fdfa69;
          box-shadow: 35px 35px #fdfa69;
}

@media only screen and (max-width: 1100px) {
  .shadow--right {
    -webkit-box-shadow: 20px 20px #fdfa69;
            box-shadow: 20px 20px #fdfa69;
  }
}

@media only screen and (max-width: 480px) {
  .shadow--right {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.shadow--left {
  -webkit-box-shadow: -35px 35px #fdfa69;
          box-shadow: -35px 35px #fdfa69;
}

@media only screen and (max-width: 1100px) {
  .shadow--left {
    -webkit-box-shadow: -20px 20px #fdfa69;
            box-shadow: -20px 20px #fdfa69;
  }
}

@media only screen and (max-width: 940px) {
  .shadow--left {
    -webkit-box-shadow: 20px 20px #fdfa69;
            box-shadow: 20px 20px #fdfa69;
  }
}

@media only screen and (max-width: 480px) {
  .shadow--left {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

span {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 90%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.row--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.col {
  margin: 0 20px;
}

.col--20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: calc(20% - 40px);
}

.col--30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  max-width: calc(30% - 40px);
}

.col--33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: calc(33.333% - 40px);
}

.col--40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  max-width: calc(40% - 40px);
}

.col--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: calc(50% - 40px);
}

.col--60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  max-width: calc(60% - 40px);
}

.col--70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  max-width: calc(70% - 40px);
}

.col--80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  max-width: calc(80% - 40px);
}

.col--100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: calc(100% - 40px);
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.nav__list.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.nav__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.nav__item--active {
  position: relative;
}

.nav__item--active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -2px;
  width: 65px;
  height: 3px;
  background: #4ceea7;
}

.nav__item a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

@media only screen and (max-width: 640px) {
  .header {
    min-height: 40vh;
  }
}

.btn {
  letter-spacing: 1px;
  background-color: #4ceea7;
  padding: 10px 20px;
}

.footer {
  background: #2c2c2c;
  color: #effdf3;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  text-transform: capitalize;
}

form {
  background-color: #fafafa;
  padding: 60px;
  margin-top: -300px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form .btn {
  width: 100%;
  border: none;
}

form textarea,
form input[type="text"],
form input[type="email"] {
  background-color: transparent;
  padding: 20px;
}

form *::-webkit-input-placeholder,
form textarea {
  /* modern browser */
  color: #000000;
  opacity: 1;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

form *:-ms-input-placeholder,
form textarea {
  /* modern browser */
  color: #000000;
  opacity: 1;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

form *::-ms-input-placeholder,
form textarea {
  /* modern browser */
  color: #000000;
  opacity: 1;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

form *::placeholder,
form textarea {
  /* modern browser */
  color: #000000;
  opacity: 1;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

form textarea {
  border: 2px solid #4ceea7;
  margin: 40px 0;
  resize: none;
  text-transform: capitalize;
}

form input[type="text"],
form input[type="email"] {
  border-bottom: 2px solid #4ceea7;
}

.comments {
  padding: 50px 0;
}

.comments h3 {
  margin-bottom: 60px;
  font-size: 3rem;
}

.comments__item p {
  margin-bottom: 10px;
}

.comments__item:first-child {
  margin-bottom: 50px;
}

.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background-image: url("../images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  z-index: 1;
  padding-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .home__header {
    background-position-x: 30%;
    min-height: 60vh;
  }
}

@media only screen and (max-width: 480px) {
  .home__header {
    background-position-x: 20%;
  }
}

.home__overlay {
  position: absolute;
  top: 180px;
  right: 0;
  z-index: -1;
  width: 40%;
}

@media only screen and (max-width: 1100px) {
  .home__overlay {
    top: 240px;
  }
}

@media only screen and (max-width: 940px) {
  .home__overlay {
    top: 315px;
  }
}

@media only screen and (max-width: 768px) {
  .home__overlay {
    visibility: hidden;
  }
}

.home__overlay img {
  border-top: 40px solid #fdfa69;
  border-left: 40px solid #fdfa69;
  border-bottom: 40px solid #fdfa69;
}

@media only screen and (max-width: 940px) {
  .home__overlay img {
    border-top: 25px solid #fdfa69;
    border-left: 25px solid #fdfa69;
    border-bottom: 25px solid #fdfa69;
  }
}

.about {
  padding: 150px 0;
}

@media only screen and (max-width: 1100px) {
  .about {
    padding: 80px 0;
  }
}

.about__title {
  text-align: center;
}

.about__title.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title h2 {
  margin-bottom: 30px;
}

.about__title p {
  text-align: left;
  margin-bottom: 30px;
}

@media only screen and (max-width: 940px) {
  .about__title p {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .about__title .col--80 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 60px 0;
  }
}

.features__list {
  padding: 120px 0 80px;
}

@media only screen and (max-width: 1100px) {
  .features__list {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 768px) {
  .features__list {
    padding: 60px 0;
  }
  .features__list .col--50 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

.features__item:nth-child(-n + 2) {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .features__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .features__item:nth-child(-n + 2):nth-child(-n + 3) {
    margin-bottom: 20px;
  }
}

.features__blog h3 {
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.features i {
  background: #4ceea7;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
}

@media only screen and (max-width: 480px) {
  .features i {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.features__background {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

@media only screen and (max-width: 1100px) {
  .features__background {
    min-height: 40vh;
  }
}

@media only screen and (max-width: 480px) {
  .features .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.featured {
  padding: 80px 0;
}

.featured__article {
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .featured__article {
    padding: 0;
    margin-top: 50px;
  }
}

.featured h2 {
  margin-bottom: 30px;
}

.featured p {
  margin-bottom: 40px;
}

@media only screen and (max-width: 940px) {
  .featured p {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 940px) {
  .featured .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .featured {
    padding: 60px 0;
  }
  .featured .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured .col--30,
  .featured .col--70 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

.latest__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest__post--right {
  padding: 50px;
}

.latest__post--right p,
.latest__post--left p {
  margin: 25px 0;
}

@media only screen and (max-width: 1100px) {
  .latest__post--right p,
  .latest__post--left p {
    margin: 15px 0;
  }
}

.latest__post--right h3,
.latest__post--left h3 {
  letter-spacing: 1px;
}

@media only screen and (max-width: 1100px) {
  .latest__post--right {
    padding: 0 0 0 50px;
  }
}

.latest__post--left {
  text-align: right;
  padding: 50px;
}

.latest__post--left p {
  text-align: left;
}

@media only screen and (max-width: 940px) {
  .latest__post--left, .latest__post--right {
    padding: 0;
  }
  .latest__post--left {
    text-align: left;
  }
  .latest__post--order {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.latest__img--left {
  margin-left: calc(-17.25% - 20px);
  margin-right: auto;
  margin-top: -35px;
}

.latest__img--right {
  margin-right: calc(-17.25% - 20px);
  margin-left: auto;
  margin-top: 65px;
}

@media only screen and (max-width: 1100px) {
  .latest__img--left, .latest__img--right {
    margin: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .latest {
    padding: 80px 0;
  }
  .latest .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .latest .row:first-of-type {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 940px) {
  .latest__img--left, .latest__img--right {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .latest {
    padding: 60px 0;
  }
  .latest .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest .col--50 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

.gallery {
  padding: 80px 0;
}

@media only screen and (max-width: 640px) {
  .gallery .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .row .col {
    margin: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    padding: 60px 0;
  }
  .gallery .col--33 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

.blog__header {
  background-image: url("../images/blog-header.jpg");
}

.blog__section {
  padding: 100px 0;
}

.blog__section .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 940px) {
  .blog__section .row--direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__section .row--direction .col--30,
  .blog__section .row--direction .col--70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: calc(100% - 40px);
  }
}

.blog__section form {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

@media only screen and (max-width: 940px) {
  .blog__section form.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 640px) {
  .blog__section form .col--50 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

.blog__post img,
.blog__aside img {
  max-width: none;
}

@media only screen and (max-width: 1280px) {
  .blog__post img,
  .blog__aside img {
    max-width: 100%;
  }
}

.blog__post {
  margin-top: -250px;
}

.blog__post--accent {
  border-left: 4px solid #fdfa69;
  border-bottom: 4px solid #fdfa69;
  margin-left: 10px;
}

@media only screen and (max-width: 1280px) {
  .blog__post--accent {
    border-left: none;
    margin: 0;
  }
}

.blog__post--inner {
  padding: 70px 0 20px 40px;
}

.blog__post--inner p:first-of-type {
  margin: 20px 0 50px;
}

@media only screen and (max-width: 940px) {
  .blog__post--inner {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 1280px) {
  .blog__post {
    margin: 0;
  }
}

.blog__image {
  margin-left: 45px;
}

@media only screen and (max-width: 940px) {
  .blog__image {
    margin: 0;
  }
}

.blog__aside {
  background-color: #fafafa;
}

.blog__aside--gap {
  padding: 30px;
}

@media only screen and (max-width: 940px) {
  .blog__aside--gap {
    padding: 0;
  }
}

.blog__aside article:first-child {
  margin-bottom: 50px;
}

@media only screen and (max-width: 940px) {
  .blog__aside article:first-child {
    margin-bottom: 20px;
  }
}

.blog__aside article li p:first-child {
  display: inline-block;
  margin-left: 10px;
  text-transform: capitalize;
}

.blog__aside article:nth-child(2) li::before {
  content: "•";
  color: #4ceea7;
}

.blog__aside img {
  margin-left: -60%;
  margin-top: -20px;
}

@media only screen and (max-width: 1280px) {
  .blog__aside img {
    margin: 0;
  }
}

.blog__aside h3 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 940px) {
  .blog__aside {
    margin-bottom: 50px;
  }
  .blog__aside aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__aside--1, .blog__aside--2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .blog__aside aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .blog__section {
    padding: 60px 0;
  }
  .blog__comments .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__comments .col--20 {
    margin-bottom: 20px;
  }
  .blog__comments .col--20,
  .blog__comments .col--80 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 768px) {
  .blog__comments h3 {
    margin-bottom: 30px;
  }
}

.contact__header {
  background-image: url("../images/contact-header.jpg");
}

.contact__footer {
  padding: 100px 0;
}

.contact__footer--left {
  padding: 20px;
}

@media only screen and (max-width: 640px) {
  .contact__footer--left {
    padding: 20px 0;
  }
}

.contact__footer--left p {
  font-size: 2rem;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

.contact__footer--left address {
  font-size: 1.6rem;
  font-style: inherit;
  letter-spacing: 1px;
}

.contact__footer form {
  margin-top: -280px;
}

@media only screen and (max-width: 1100px) {
  .contact__footer form {
    margin-top: 0;
    padding: 40px;
  }
}

@media only screen and (max-width: 940px) {
  .contact__footer form {
    padding: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 5px solid #fdfa69;
  }
}

@media only screen and (max-width: 640px) {
  .contact__footer form .col--50 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 1100px) {
  .contact__footer {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 940px) {
  .contact__footer .row--direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__footer .row--direction .col--30,
  .contact__footer .row--direction .col--70 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 768px) {
  .contact__footer {
    padding: 60px 0;
  }
}

.about__header {
  min-height: 100vh;
}
